.header
    .header_wraper1
        .header_wraper2
            a(href="#").logo-a
                img(src="img/logo.png" width="50" height="50")
            ul.header_wraper-ul
                li.header_wraper-li
                    a(href="#").social_vk
                li.header_wraper-li
                    a(href="#").social_fb
                li.header_wraper-li
                    a(href="#").social_t
                li.header_wraper-li
                    a(href="#").social_m












