/* MIXINS */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: 'five_minutesregular';
  src: url('../font/five_minutes-webfont.eot');
  src: url('../font/five_minutes-webfont.eot?#iefix') format('embedded-opentype'), url('../font/five_minutes-webfont.woff2') format('woff2'), url('../font/five_minutes-webfont.woff') format('woff'), url('../font/five_minutes-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.five_minutesregular {
  font-family: 'five_minutesregular';
}
@font-face {
  font-family: 'Cheeseusaceu';
  src: local('../font/cheeseusaceu'), url('../font/cheeseusaceu.woff2') format('woff2'), url('../font/cheeseusaceu.woff') format('woff'), url('../font/cheeseusaceu.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.Cheeseusaceu {
  font-family: 'Cheeseusaceu';
}
@font-face {
  font-family: 'VoronovFont';
  src: local('../font/VoronovFont'), url('../font/voronovfont.woff2') format('woff2'), url('../font/voronovfont.woff') format('woff'), url('../font/voronovfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.VoronovFont {
  font-family: 'VoronovFont';
}
@font-face {
  font-family: 'Neucha';
  src: local('../font/Neucha'), url('../font/neucha.woff2') format('woff2'), url('../font/neucha.woff') format('woff'), url('../font/neucha.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.Neucha {
  font-family: 'Neucha';
}
@font-face {
  font-family: 'Lionelofparis';
  src: local('../font/Lionelofparis'), url('../font/lionelofparis.woff2') format('woff2'), url('../font/lionelofparis.woff') format('woff'), url('../font/lionelofparis.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.Lionelofparis {
  font-family: 'Lionelofparis';
}
@font-face {
  font-family: 'ClassicaTwo';
  src: local('../font/ClassicaTwo'), local('../font/ClassicaTwo'), url('../font/classicatwo.woff2') format('woff2'), url('../font/classicatwo.woff') format('woff'), url('../font/classicatwo.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.ClassicaTwo {
  font-family: 'ClassicaTwo';
}
@font-face {
  font-family: 'u20db';
  src: local('../font/20 db'), url('../font/20db.woff2') format('woff2'), url('../font/20db.woff') format('woff'), url('../font/20db.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.u20db {
  font-family: 'u20db';
}
@font-face {
  font-family: 'Cinzel_Decorative';
  src: local('../font/Cinzel Decorative'), local('../font/CinzelDecorative-Regular'), url('../font/cinzeldecorative.woff2') format('woff2'), url('../font/cinzeldecorative.woff') format('woff'), url('../font/cinzeldecorative.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.Cinzel_Decorative {
  font-family: 'Cinzel_Decorative';
}
@font-face {
  font-family: 'Cinzel_DecorativeBold';
  src: local('../font/Cinzel Decorative Bold'), local('../font/CinzelDecorative-Bold'), url('../font/cinzeldecorativebold.woff2') format('woff2'), url('../font/cinzeldecorativebold.woff') format('woff'), url('../font/cinzeldecorativebold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
.Cinzel_DecorativeBold {
  font-family: 'Cinzel_DecorativeBold';
}
@font-face {
  font-family: 'Cinzel_DecorativeBlack';
  src: local('../font/Cinzel Decorative Black'), local('../font/CinzelDecorative-Black'), url('../font/cinzeldecorativeblack.woff2') format('woff2'), url('../font/cinzeldecorativeblack.woff') format('woff'), url('../font/cinzeldecorativeblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
.Cinzel_DecorativeBlack {
  font-family: 'Cinzel_DecorativeBlack';
}
@font-face {
  font-family: 'LeokadiaDeco';
  src: local('../font/LeokadiaDeco'), local('../font/LeokadiaDeco'), url('../font/leokadiadeco.woff2') format('woff2'), url('../font/leokadiadeco.woff') format('woff'), url('../font/leokadiadeco.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.LeokadiaDeco {
  font-family: 'LeokadiaDeco';
}
@font-face {
  font-family: 'KobzarKS';
  src: local('../font/KobzaKS'), local('../font/KobzarKS'), url('../font/kobzarks.woff2') format('woff2'), url('../font/kobzarks.woff') format('woff'), url('../font/kobzarks.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.KobzarKS {
  font-family: 'KobzarKS';
}
@font-face {
  font-family: 'Corki';
  src: local('../font/Corki'), local('../font/Corki-Regular'), url('../font/corki.woff2') format('woff2'), url('../font/corki.woff') format('woff'), url('../font/corki.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
.Corki {
  font-family: 'Corki';
}
.footer_wrap {
  width: 100%;
  margin: 0 auto;
}
.footer_wrap-text-wrap {
  width: 100%;
  height: 131px;
  position: relative;
}
.footer_wrap-text {
  text-transform: uppercase;
  font-family: 'Corki';
  font-size: 55px;
  color: #33aae7;
  height: 80px;
  width: 810px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -40px 0 0 -405px;
  -webkit-text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.11);
  -moz-text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.11);
  text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.11);
}
.footer_wrap-main {
  width: 100%;
  height: 69px;
  background: #262626;
  position: relative;
}
.footer_wrap-main-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1240px;
  height: 11px;
  margin: -5px 0 0 -610px;
}
.footer_wrap-main1 {
  margin: 0 22px;
  float: left;
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-family: 'u20db';
  color: #FFFFFF;
  font-size: 9px;
  text-transform: uppercase;
}
.footer_wrap-main2-a {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'u20db';
  text-transform: uppercase;
}
.footer_wrap-main2-li {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
  font-size: 9px;
  float: left;
  color: #FFFFFF;
  margin: 0 4px;
  text-transform: uppercase;
}
.footer_wrap-main4-img,
.footer_wrap-main4-text {
  margin: 0 4px;
  float: left;
}
.footer_wrap-main4-img {
  margin-top: 2px;
}
.footer_wrap-main4-img2 {
  margin: 0 8px;
  float: left;
}
a.footer_wrap-main4-text-a {
  display: block;
  float: left;
}
.footer_wrap-main2-ul {
  margin-left: 20px;
}
